.navbar {
  padding: var(--space-default);
  background-color: var(--color-dark);
  color: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: var(--color-light);
}
